/* google font start */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins&display=swap');

/* google font end */
body {
    font-family: 'Poppins', sans-serif;
}



header {
    background-color: black;
    color: white;
    height: 380px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    transition: 0.2s all;



}

header:hover {
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0);
    transform: scale(1.05);

}

.header-section {
    display: flex;
    justify-content: center;




}

.player-img {
    padding-top: 40px;
    margin-left: 50px;
    padding-right: 80px;
}

.greatest {
    padding-left: 150px;
    padding-top: 40px;




}

.btn {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(219, 72, 72);
    color: white;
    font-weight: 700;

}


/* aside-button start */
main {
    margin-bottom: 20px;
}


.aside-button li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
}


.aside-button {
    margin-left: 75px;
    margin-top: 100px;
    background-color: black;

    width: 200px;
    height: 250px;
    padding-right: 40px;
    border-radius: 7px;


    padding-top: 5px;



}

.btn2 {
    background-color: rgb(218, 51, 51);
    border-radius: 5px;

}

#btn3 {
    background-color: rgb(218, 51, 51);

}

.aside-button {
    margin-left: 50px;
}

.aside-button li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    color: white;

}

.main-section {
    display: flex;
}

.blog-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    padding-left: 10px;


}

.blog-img-size {

    padding-left: 10px;

    /* box-shadow: 5px 10px; */
    box-shadow: 2px 2px 10px rgb(241, 191, 191);

    transition: 0.2s all;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 75%;
    margin-right: 20px;




}

.blog-img-size img {
    width: 100%;
}

.blog-img-size:hover {
    transform: scale(1.03);
}

#flag-img {
    display: flex;
    margin-left: 10px;

    padding-left: 10px;
    width: 220px;



}

#flag-img img {

    padding-left: 10px;
    padding-right: 30px;
    width: 100%;

}

#match-start {
    margin-left: 90px;
}

#world-cup {
    margin-bottom: 100px;
    width: 300px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 20px;

}

#time {
    font-size: 12px;
    opacity: calc(0.5);
}

.view-all {
    text-align: center;

}

#btn4 {
    padding: 10px 40px;
    background-color: rgb(192, 34, 34);
    font-weight: 700;
    color: white;
    border-radius: 7px;
    display: none;
}


/* footer-section start */
.footer-section {
    margin-top: 60px;
    background-color: black;
    color: white;
    height: 420px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    padding-right: 50px;
    padding-bottom: 40px;
}

.goal {
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;

}


.goal ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 10px;
    padding-top: 50px;

}

.goal ul li {
    padding-left: 50px;
}


hr {
    width: 1080px;
    background-color: gray;
    opacity: calc(0.2);
}

.footer-button ul {
    padding-right: 40px;
}

.media-icon {
    text-align: center;
    padding-right: 70px;
    padding-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* for tablet */

@media screen and (min-width:577px) and (max-width:992px) {

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 7px;
    }

    .btn {
        font-size: 10px;
    }

    .blog-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .main-section {
        flex-direction: column;
        margin-left: 50px;

    }

    .aside-button {
        align-self: center;
        margin-right: 50px;
    }

    #flag-img {
        width: 80px;
    }

    #blog-img {
        margin-right: 50px;
    }

    h2 {
        margin-left: 60px;
    }

    hr {
        width: 550px;
        margin-left: 95px;
    }

    .footer-section ul {

        flex-wrap: wrap;
        gap: 20px;
    }

    .media-icon {
        margin-bottom: 150px;
    }


    .media-icon {
        margin-left: 60px;
        padding-bottom: 80px;
    }

    .footer-section {
        width: 100%;
        height: 100%;
    }

    #btn4 {
        display: inline;
    }


}

/* for tablet end */
/* for mobile start */
@media screen and (max-width:576px) {
    .header-section {
        display: block;
        width: 100%;

    }

    .greatest {
        font-size: 6px;
        padding-top: 2px;
        padding-right: 7px;
    }

    .player-img img {
        width: 200px;
        height: 168px;
        padding-left: 60px;
        padding-bottom: 40px;

    }

    .blog-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .main-section {
        flex-direction: column;
        margin-left: 50px;

    }

    .aside-button {
        margin-right: 50px;
    }

    hr {
        width: 300px;
        margin-left: 100px;
        margin-top: 60px;
    }

    h2 {
        margin-left: 100px;
        margin-bottom: 50px;
        padding-bottom: 15px;
        font-size: 40px;
    }

    .footer-section {
        height: 100%;
        width: 100%;
    }

    .footer-section ul {

        display: block;
        font-size: 15px;
        padding-top: 15px;
    }

    .media-icon {
        display: flex;
        margin-bottom: 100px;
        padding-left: 130px;

    }

    #world-cup {
        width: 300px;
        padding-top: 20px;
        margin-right: 70px;
    }

    .media-icon {
        width: 100%;
        height: 100%;
    }

    p {
        font-size: 10px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}