/* google font start */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins&display=swap');

/* google font end */
body {
    font-family: 'Poppins', sans-serif;
}



header {
    background-color: black;
    color: white;
    width: 1218px;
    height: 380px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 40px;
    transition: 0.2s all;



}

header:hover {
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0);
    transform: scale(1.05);

}

.header-section {
    display: flex;
}

.player-img {
    padding-top: 40px;
    margin-left: 100px;
}

.greatest {
    padding-left: 150px;
    padding-top: 40px;


}

.btn {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(219, 72, 72);
    color: white;
    font-weight: 700;

}


/* aside-button start */
main {
    margin-bottom: 20px;
}


.aside-button li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
}

.aside-button {
    margin-left: 75px;
    margin-top: 100px;
    background-color: black;

    width: 200px;
    height: 250px;
    padding-right: 40px;
    border-radius: 7px;


    padding-top: 5px;



}

.btn2 {
    background-color: rgb(214, 88, 88);
    border-radius: 5px;

}

.aside-button li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    color: white;

}

.main-section {
    display: flex;
}

.blog-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    padding-left: 10px;

}

.blog-img-size {

    padding-left: 10px;
}

/* footer-section start */
.footer-section {
    margin-top: 60px;
    background-color: black;
    color: white;
    height: 420px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    padding-right: 50px;
    padding-bottom: 40px;
}

.goal {
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;

}


.goal ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 10px;
    padding-top: 50px;

}

.goal ul li {
    padding-left: 50px;
}


hr {
    width: 1080px;
    background-color: gray;
    opacity: calc(0.2);
}

.footer-button ul {
    padding-right: 40px;
}

.media-icon {
    text-align: center;
    padding-right: 70px;
    padding-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}